{% extends 'base.html.twig' %}

{% block title %}Liste des emails{% endblock %}

{% block body %}
    <h1>Liste des emails</h1>

    <table border="1" cellspacing="0" cellpadding="5">
        <thead>
        <tr>
            <th>De</th>
            <th>Sujet</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for email in emails %}
            <tr>
                <td>{{ email.from }}</td>
                <td>{{ email.subject }}</td>
                <td>{{ email.date }}</td>
                <td>
                    <!-- Lien pour afficher le contenu d'un email -->
                    <a href="{{ path('gmail_email', { id: email.id }) }}">Voir</a>

                    <!-- Formulaire pour renvoyer un email -->
                    <form action="{{ path('gmail_forward_email', {id: email.id}) }}" method="post" style="display:inline;">
                        <input type="hidden" name="to" value="{{ default_email }}">
                        <button type="submit">Renvoyer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
